<md-dialog flex = "70">
  <md-dialog-content layout-padding class="dialog text-layer">
    <md-content class="modal-selector text-layer">
      <form name="newAssignmentForm">

        <!-- input for title, currently maxed at 100 characters but can be changed -->
        <md-input-container class="md-block">
          <label>Title</label>
          <input md-maxlength="100" required md-no-asterisk name="title" ng-model="newAssignment.title">
          <div ng-messages="newAssignmentForm.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The title must be less than 100 characters.</div>
          </div>
        </md-input-container>

        <!-- input for due date -->
        <md-input-container class="md-block">
          <label>Due Date</label>
          <input required type="date" name="due_at" ng-pattern = "/^\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$/" ng-model="newAssignment.due_at">
          <div ng-messages="newAssignmentForm.due_at.$error">
            <div ng-message-exp="['pattern', 'required']">Please enter a valid date YYYY-MM-DD.</div>
          </div>
        </md-input-container>
        <!-- input for description -->
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea required name="description" ng-model="newAssignment.description"
                 minlength="10" rows="8" md-select-on-focus></textarea>

          <div ng-messages="newAssignmentForm.description.$error" role="alert">
            <div ng-message-exp="['pattern', 'required']">
              Your assignment must contain a description longer than 10 characters.
            </div>
          </div>
        </md-input-container>
      </form>

      <p ng-hide = "newAssignmentForm.title.$valid && newAssignmentForm.description.$valid && newAssignmentForm.due_at.$valid">Cannot submit until the form is complete.</p>
      <md-button ng-click = "submitAssignment()" ng-show = "newAssignmentForm.title.$valid && newAssignmentForm.description.$valid && newAssignmentForm.due_at.$valid">
        Submit
        <!-- <img class = "med" src="../resources/check.png"> -->
      </md-button>
      <md-button  ng-click = "closePartial()">
        Cancel
        <!-- <img class = "med" src="../resources/cancel.png"> -->
      </md-button>
    </md-content>
  </md-dialog-content>
</md-dialog>