h3.md-headline{
  text-align: center;
}

p.dueDate, span.dueDate{
  text-align: right;
  float:right;
  font-size: .7em
}

md-card.assignment.selected, md-card.assignment:hover {
 background-color: #5cb85c;
}

.md-headline.noAssignment{
  text-align: center;
  padding-top:25%;
}

.md-card-image.avatar{
  display:inline-block;
}